
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<!-- Head -->
<head>
<title>V Connect</title>

<body>
<!-- banner -->
<header>
		<div class="container">
			<div id="branding">
				<h1><span class="highlight">FACE </span> DETECT</h1>
			</div>
			<nav>
				<ul>
					<li class="current"><a href="/myapp/signup/upload">Back</a></li>
					
				</ul>
			</nav>
		</div>
	</header>
<div class="w3l-banner-1">

</div>
<img src="{% static "example.png" %}" alt="My image">

</body>
<!-- //Body -->
</html>
